@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pushster&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    overflow: hidden;
}

body {
    color: white;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: black;   
}

.main {
    opacity: 0;
    background-image: url("../../assets/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: scroll;
}

*::-webkit-scrollbar {
    display: none;
}

.inner {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min-content;
    min-height: 100vh;
}

.inner>.wrapper {
    background-color: rgb(22, 22, 22);
    padding: 30px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 700px;
}

.result {
    margin-top: 10px;
    width: 100%;
}

.record {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 19, 19);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.record>.head {
    display: flex;
    align-items: center;
}

.record>.head>.ttl {
    margin-left: 10px;
    font-weight: bold;
}

.record>.data {
    margin-top: 10px;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(16, 16, 16);
    color: rgb(161, 161, 161);
}

.logo {
    color: white;
    display: flex;
    align-items: center;
}

.logo>.wrapper>.name {
    font-family: 'Pushster', cursive;
}

.logo>.avatar {
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

#form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

input, button {
    font-size: 18px;
    color: white;
    text-decoration: none;

    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px 0;
    background-color: rgb(19, 19, 19);
    width: 100%;

    transition: all 0.1s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
}

input[type="submit"], button {
    margin-top: 10px;
    background-color: rgb(0, 119, 255);
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    margin-top: 10px;
    background-color: rgb(0, 71, 153);
    cursor: pointer;
}

.loader {
    margin-top: 40px;
}