/* dela-gothic-one-regular - latin */
@font-face {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/dela-gothic-one/dela-gothic-one-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/dela-gothic-one/dela-gothic-one-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/dela-gothic-one/dela-gothic-one-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/dela-gothic-one/dela-gothic-one-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/dela-gothic-one/dela-gothic-one-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/dela-gothic-one/dela-gothic-one-v10-latin-regular.svg#DelaGothicOne') format('svg'); /* Legacy iOS */
  }
  