@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Dela Gothic One", cursive;
	text-align: center;
	overflow: hidden;
	scrollbar-width: none;
}

body.scroll {
	overflow-y: scroll;
}

html {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	display: none;
}

@layer base {
	body {
		@apply w-screen h-screen;
	}

	* {
		@apply dark:text-black;
	}

	h1 {
		@apply text-black text-2xl;
	}

	p {
		@apply text-gray-800;
	}

	.full {
		@apply pt-14 min-h-screen;
	}

	input {
		@apply px-4 py-1 text-white placeholder-gray-400
			bg-gray-900/50 rounded-lg outline-none border-none;
	}
}